.root {
	-fx-font-size: 12;
}
 
HBox {
	-fx-spacing: 10;
	-fx-alignment: center;
	-fx-padding: 5;
	-fx-border-color: lightgray;
}

VBox {
	-fx-spacing: 5;
	-fx-padding: 5;
	-fx-fill-width: TRUE;
}

StackPane {
	-fx-border-color: lightgray;
}

GridPane {
	-fx-vgap: 10;
	-fx-hgap: 10;
}

ScrollPane {
	-fx-fit-to-width: TRUE;
	-fx-hbar-policy: NEVER;
	-fx-vbar-policy: NEVER;	
}

Rectangle {
	-fx-fill: rgba(100,0,50,.75);
	-fx-stroke: rgba(100,100,100,1);
	-fx-stroke-width: 2;
}

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
}

#ResourceHBox {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-padding: 0;	
	-fx-background-color: rgba(100,100,100,0.5);
	-fx-border-color: rgba(100,100,100,1);
	-fx-border-radius: 2;
	-fx-border-width: 2;	
	/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/	
	-fx-font-weight: BOLD;
}

#CenterVBox {
	-fx-spacing: 5;
	-fx-padding: 5;
	-fx-background-color: rgba(50,100,0,1);
}

#MenuPane {
	-fx-padding: 10;
}

#FileMenu {
	
}

#ResourceText {
	-fx-fill: WHITE
}


#Spell {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Ebook-icon.png');	
}

#EnhancementBonus {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/ele-ice-icon.png');
}

#SwitchToHistory {
	-fx-background-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Document-icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 48;
	-fx-min-height: 48;
}

#SwitchToNew {
	-fx-background-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/ele-Forest-icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 48;
	-fx-min-height: 48;	
}

#SwitchToQueue {
	-fx-background-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/sword-icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 48;
	-fx-min-height: 48;	
}

