.root {
	-fx-font-size: 12;
}
 
HBox {
	-fx-spacing: 10;
	-fx-alignment: center;
	-fx-padding: 5;
}

VBox {
	-fx-spacing: 5;
	-fx-padding: 5;
	-fx-fill-width: TRUE;
}

StackPane {
	/*-fx-border-color: lightgray;*/
}

GridPane {
	-fx-vgap: 10;
	-fx-hgap: 10;
}

ScrollPane {
	-fx-fit-to-width: TRUE;
	-fx-hbar-policy: NEVER;
	-fx-vbar-policy: NEVER;	
}

Rectangle {
	-fx-fill: rgba(100,0,50,.75);
	-fx-stroke: rgba(100,100,100,1);
	-fx-stroke-width: 2;
}

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
}

#ResourceHBox {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-padding: 0;	
	-fx-background-color: rgba(100,100,100,0.5);
	-fx-border-color: rgba(100,100,100,1);
	-fx-border-radius: 2;
	-fx-border-width: 2;	
	/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/	
	-fx-font-weight: BOLD;
}

#MenuPane {
	-fx-padding: 10;
}

#FileMenu {
	
}

#ResourceText {
	-fx-fill: WHITE
}

#DialogGroup {
	-fx-background-color: linear-gradient(rgba(100,0,0,0.08), rgba(150,0,0,0.08));
	-fx-padding: 4;
	-fx-background-radius: 4;
	-fx-border-color: rgba(100,100,100,0.25);	
	-fx-border-radius: 4;
}

#ItemPane {
	-fx-padding: 5;
	-fx-spacing: 10;
	-fx-alignment: center;
	
	/*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
	-fx-background-color: linear-gradient(rgba(140, 140, 140, 0.3), rgba(80, 80, 80, 0.3));  
	-fx-background-radius: 4;	
	-fx-border-color: rgba(100, 100, 100, 0.5);	
	-fx-border-radius: 4;
}

#DefaultImage {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Recycle-Crystal-Empty-icon.png');
}

#Spell {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Ebook-icon.png');	
}

#EnhancementBonus {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/ele-ice-icon.png');
}

#Axe {
	-fx-image: url(http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Axe-icon.png);
}

#Potion {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Potion-2-icon.png');
}

#Shield {
	-fx-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Shield-Security-icon.png');
}



#SwitchToHistory {
	-fx-background-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Document-icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 48;
	-fx-min-height: 48;
}

#SwitchToNew {
	-fx-background-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/ele-Forest-icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 48;
	-fx-min-height: 48;	
}

#SwitchToQueue {
	-fx-background-image: url('http://icons.iconarchive.com/icons/raindropmemory/legendora/48/Home-icon.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 48;
	-fx-min-height: 48;	
}


