.root {
	-fx-font-size: 12;
}
 
HBox {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-padding: 5;
	-fx-border-color: lightgray;
}

VBox {
	-fx-spacing: 5;
	-fx-padding: 5;
}

StackPane {
	-fx-border-color: lightgray;
}

GridPane {
	-fx-vgap: 10;
	-fx-hgap: 10;
}

Rectangle {
	-fx-fill: rgba(100,100,100,1);
	-fx-stroke: rgba(100,100,100,1.0);
	-fx-stroke-width: 2;
}

#ResourceHBox {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-padding: 0;	
	-fx-background-color: rgba(100,100,100,0.5);
	-fx-border-color: rgba(100,100,100,1);
	-fx-border-radius: 2;
	-fx-border-width: 2;	
	/*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/	
	-fx-font-weight: BOLD;
}

#CenterVBox {
	-fx-spacing: 5;
	-fx-padding: 5;
	-fx-background-color: rgba(50,100,0,1);
}

#MenuPane {
	-fx-padding: 10;
}

#ResourceText {
	-fx-fill: WHITE
}